<div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
  <h1 class="title-font font-medium text-3xl text-gray-900">Trader App</h1>
  <p class="leading-relaxed mt-4">Become a millionaire by trading stocks.</p>
</div>
